{% if "gui_link" in analysis.details %}
<h4><a href="{{analysis.details['gui_link']}}" target="_blank">Click here to pivot to splunk.</a></h4>
{% endif %}
{% if analysis.query_results %}
<table class="table">
    <tr>
        <th>Mitre Analysis</th>
        <th>Event</th>
        <th>Time</th>
        <th>Request</th>
        <th>Details</th>
    </tr>
{% for event in analysis.query_results %}
    {% if event.get("is_ExfilEvents", "no") == "yes" %}
	<tr class="table-danger">
    {% elif event.get("is_PrivilegeEscalationEvents", "no") == "yes" %}
	<tr class="table-danger">
    {% elif event.get("is_PersistenceEvents", "no") == "yes" %}
	<tr class="table-danger">
    {% elif event.get("is_CredentialAccessEvents", "no") == "yes" %}
	<tr class="table-warning">
    {% elif event.get("is_DiscoveryEvents", "no") == "yes" %}
	<tr class="table-success">
    {% elif event.get("is_InitialAccessEvents", "no") == "yes" %}
	<tr class="table-active">
    {% elif event.get("is_CollectionEvents", "no") == "yes" %}
	<tr class="table-info">
    {% else %}
    <tr>
    {% endif %}
    <td>
        <ul>
            {% if event.get("is_DiscoveryEvents", "no") == "yes" %} <li>Discovery</li> {% endif %}
            {% if event.get("is_InitialAccessEvents", "no") == "yes" %} <li>Initial Access</li> {% endif %}
            {% if event.get("is_PrivilegeEscalationEvents", "no") == "yes" %} <li>Privilege Escalation</li> {% endif %}
            {% if event.get("is_CollectionEvents", "no") == "yes" %} <li>Collection</li> {% endif %}
            {% if event.get("is_ExfilEvents", "no") == "yes" %} <li>Exfil</li> {% endif %}
            {% if event.get("is_PersistenceEvents", "no") == "yes" %} <li>Persistence</li> {% endif %}
            {% if event.get("is_CredentialAccessEvents", "no") == "yes" %} <li>CredentialAccess</li> {% endif %}
        </ul>
    </td>
    <td>
        {{ event.get("eventName") }}
    </td>
    <td>
        {{ event.get("_time") }}
    </td>
    <td>
        {% for event_key, event_value in event.items() %}
            {% if event_key.startswith("requestParameters.") and event_value is not none and event_value != "" %}
                {{ event_key }} :
                {% if event_key == "requestParameters.assumeRolePolicyDocument" %}
                <pre>
                {{ event_value | dict_from_json_string | pprint_json_dict }}
                </pre>
                {% elif event_key == "requestParameters.policyDocument" %}
                <pre>
                {{ event_value | dict_from_json_string | pprint_json_dict }}
                </pre>
                {% else %}
                <b>{{ event_value }}</b><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
    <td style="font-family: monospace">
        {{ event.get("_raw") | dict_from_json_string | pprint_json_dict }}
    </td>
	</tr>
{% endfor %}
</table>
{% endif %}
