{% set unique_reference = generate_unique_reference() %}
{% block observable_display %}
<span class="observable_display {{_observable.type}}" id="o_filter_{{unique_reference}}" title="">
{% block observable_display_value %}{{ _observable.display_value }}{% endblock %}
{% if _observable.display_time %} @ {{ _observable.display_time }} {% endif %}</span>
{% if _observable.volatile %}<span style="font-size: 50%">(volatile)</span>{% endif %}
{% if _observable.id in observable_detections and observable_detections[_observable.id].for_detection %}
    <span 
        class="observable_display" 
        style="font-size: 70%; font-weight: bold; color: darkred" 
        onmousedown="alert(decodeURI(decodeURI(atob('{{observable_detections[_observable.id].detection_context | b64escape}}'))))" 
        alt="{{observable_detections[_observable.id].detection_context | e}}"> (detect enabled 👀)
    </span>
{% endif %}
<script type="text/javascript">
    $('#o_filter_{{unique_reference}}').on('click', function() {
        set_filters([{'name': 'Observable', 'inverted': false, 'values': [['{{_observable.type}}',decodeURIComponent(atob('{{_observable.value | b64escape}}'))]]}]);
    });
</script>
{% endblock %}

<button class="btn btn-outline-dark btn-xs" type="button" id="copy_action_{{unique_reference}}" title="Copy to Clipboard"><span class="bi bi-copy"></span></button>
<script type="text/javascript">
    $('#copy_action_{{unique_reference}}').on('click', function() {
        // avoid escaping issues going from python to javascript by using base64
        var observable_value = decodeURIComponent(atob('{{_observable.value | b64escape}}'));
        // see app/static/js/ace.js
        copy_to_clipboard(observable_value);
        // let the user know it was copied by flashing it a bit
        $('#copy_action_{{unique_reference}}').effect("pulsate", { times:3 }, 500);
    });
</script>

{% if observable_presenter.available_actions %}

<span class="dropdown">
    <button class="btn btn-outline-dark btn-xs" type="button" id="action_{{unique_reference}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="bi bi-caret-down-fill"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="action_{{unique_reference}}">
        {% for action in observable_presenter.available_actions if action.display %}
        {# TODO go through existing observable actions and override action.display if configurable #}
            {% if action.name is none %}
                <li role="separator" class="dropdown-divider"></li>
            {% else %}
	        {% if 'file_upload_vx' in action.name and not ace_config['gui'].getboolean('upload_vxstream') %}
		    <li><a class="dropdown-item" disabled tabindex="-1"><span class="bi bi-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_view_vx' in action.name and not ace_config['gui'].getboolean('view_in_vx') %}
		    <li><a class="dropdown-item" disabled tabindex="-1"><span class="bi bi-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% elif 'file_upload_vt' in action.name and not ace_config['gui'].getboolean('upload_vt') %}
                    <li><a class="dropdown-item" disabled tabindex="-1"><span class="bi bi-{{action.icon}}"></span>  <del>{{action.description}}</del></a></li>
		{% else %}
                    <li><a class="dropdown-item" style="cursor: pointer" id="action_{{action.name}}_{{unique_reference}}"><span class="bi bi-{{action.icon}}"></span>  {{action.description}}</a></li>
		{% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</span>

{% for action in observable_presenter.available_actions %}
    {% if action.action_path %}
        {% include action.action_path %}
    {% endif %}
{% endfor %}

{% endif %}

{# add any additional functionality for the observable to this block #}
{% block observable_display_misc %}
{% endblock %}

{# add tags #}
{% for tag in _observable.tags %}
    {% if tag.level != 'hidden' %}
        <span class="badge text-bg-{{tag.css_class}}" style="cursor:pointer" onmousedown="set_filters([{'name': 'Tag', 'inverted': false, 'values': ['{{tag}}']}])">{{ tag }}</span>
        {% if tag.name.lower().startswith('atos') %} 🤡 {% endif %}
    {% endif %}
{% endfor %}

{# add matching event tags #}
{% if _observable.matching_events_by_status %}
    {% for item in _observable.matching_events_by_status|dictsort(true) %}
        <span onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown="filter_events_by_observable_and_status('{{ _observable.type }}', '{{ _observable.value }}', '{{ item[0] }}')" class="badge text-bg-primary">Events {{ item[0] }} ({{ item[1]|length }})</span>
    {% endfor %}
{% endif %}

{# add disposition tags #}
{% if _observable.disposition_history %}
    {% for disposition, count, percentage in _observable.disposition_history %}
        {% if count != 1 or disposition != alert.disposition %}
        <span onmouseover="this.style.textDecoration='underline';" onmouseleave="this.style.textDecoration='';" onmousedown="set_filters([{'name': 'Observable', 'inverted': false, 'values': [ ['{{_observable.type}}', decodeURIComponent(atob('{{_observable.value | b64escape}}'))] ]}, {'name': 'Disposition', 'inverted': false, 'values': ['{{disposition}}']}])" class="badge text-bg-{{dispositions[disposition]['css']}}">{{disposition}} {{percentage | int}}% ({{count}})</span>
        {% endif %}
    {% endfor %}
{% endif %}

{# add tags mapped in database #}
{% for tag in _observable.mapped_tags %}
    <span class="badge text-bg-{{tag.css_class}}" style="cursor:pointer" onmousedown="set_filters([{'name': 'Tag', 'inverted': false, 'values': ['{{tag}}']}])">{{ tag }}</span>
{% endfor %}

{# add preview #}
{% block observable_preview %}
    {% if _observable.has_directive('preview') %}
        <div class="panel panel-default" name="observable_preview">
            <div class="panel-body observable-preview">{{_observable.display_preview}}</div>
        </div>
    {% endif %}
{% endblock %}
