<table class="table">
<tr>
    <td>Time</td>
    <td>From</td>
    <td>Subject</td>
</tr>
{% for email in analysis.emails %}
<tr>
    <td>{{email['_time']}}</td>
    <td>{{email['mailfrom']}}</td>
    <td><a href="#" data-bs-toggle="modal" data-bs-target="#email_{{email['flow_id']}}">{{email['subject']}}</a></td>
</tr>
{% endfor %}
</table>

{% for email in analysis.emails %}
<div class="modal fade" id="email_{{email['flow_id']}}" tabindex="-1" role="dialog" aria-labelledby="email_{{email['flow_id']}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="email_{{email['flow_id']}}Label">{{email['subject']}}</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Summary</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                        <tr>
                            <td>CID</td>
                            <td>{{email['flow_id']}}</td>
                        </tr>
                        <tr>
                            <td>MAIL FROM</td>
                            <td>{{email['mailfrom']}}</td>
                        </tr>
                        <tr>
                            <td>RCPT TO</td>
                            <td>{{email['rcptto']}}</td>
                        </tr>
                        <tr>
                            <td>FROM</td>
                            <td>{{email['from']}}</td>
                        </tr>
                        <tr>
                            <td>TO</td>
                            <td>{{email['to']}}</td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>{{email['subject']}}</td>
                        </tr>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Attachments</h3>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading_{{email['flow_id']}}">
                        <h3 class="card-title">
                            <a role="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{email['flow_id']}}" aria-expanded="true" aria-controls="collapse_{{email['flow_id']}}">Details</a> (Click to expand)
                        </h3>
                    </div>
                    <div id="collapse_{{email['flow_id']}}" class="collapse" role="tabpanel" aria-labelledby="heading_{{email['flow_id']}}">
                        <div class="card-body">
                            <table class="table">
                            <tr>
                                <td><b>field</b></td>
                                <td><b>value</b></td>
                            </tr>
                            {% for field in email.keys()%}
                            <tr>
                                <td>{{field}}</td>
                                <td>{{email[field]}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
