{% if analysis.details and 'scan_results' in analysis.details %}
{% for yara_result in analysis.details['scan_results'] %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{yara_result['rule']}}</h3>
    </div>
    <div class="panel-body">
        <table class="table">
        <tr>
            <td>target</td>
            <td>{{yara_result['target']}}</td>
        </tr>
        {% if yara_result['meta'] | count > 0 %}
        <tr>
            <td>meta</td>
                <td>{{yara_result['meta']}}</td>
        </tr>
        {% endif %}
        {% if yara_result['tags'] | count > 0 %}
        <tr>
            <td>tags</td>
            <td>{{yara_result['tags']}}</td>
        </tr>
        {% endif %}
        </table>
        <div class="panel-group" id="{{yara_result['rule']}}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_{{yara_result['rule']}}">
                    <h4 class="panel-title">
                        <a role="button" data-bs-toggle="collapse" href="#collapse_{{yara_result['rule']}}" aria-expanded="false" aria-controls="collapse_{{yara_result['rule']}}">
                            String Matches
                        </a>
                    </h4>
                </div>
                <div id="collapse_{{yara_result['rule']}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{yara_result['rule']}}">
                    <div class="panel-body">
                        <ul class="list-group">
                        {% if ace_config['gui'].getboolean('hide_intel') %}
                            <li class="list-group-item">Hidden from public view.</li>
                        {% else %}
                            {% if 'context' in yara_result %}
                                {% for s in yara_result['context'] %}
                        {% if s | count > 0 %}
                            <li class="list-group-item">
                                position <b>{{s[0]}}</b> string $<b>{{s[1]}}</b> value <b>{{s[2]}}</b>
                                <pre>{{s[3]}}</pre>
                                {% if s|length > 4 %}
                                    Disassembly<pre>{{s[4]|safe}}</pre>
                                {% endif %}
                            </li>
                        {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for s in yara_result['strings'] %}
                                {% if s | count > 0 %}
                                    <li class="list-group-item">position <b>{{s[0]}}</b> string $<b>{{s[1]}}</b> value <b>{{s[2]}}</b></li>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-info">No Yara scan results available.</div>
{% endif %}
