//rule created automatically with intelligence
rule TEMPLATE_RULE_NAME
{
    meta:
        author = "Indicator Export"
        file_name = "email.rfc822.headers"
    strings:
TEMPLATE_STRINGS
    condition:
        any of them
}
