<div class="panel-heading">
    <h3 class="panel-title" data-toc-text="Alert Summary">Alert Summary <button id="btn-remove-alerts" type="button" class="btn btn-default btn-sm"><span class="bi bi-x"></span> Remove Alert(s)</button>
    <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseAlertSummary" aria-expanded="true" aria-controls="collapseAlertSummary">(hide/show)</a></h3>
</div>
<div class="panel-body collapse show" id="collapseAlertSummary">
    {% include "events/event_alerts.html" %}
</div>