<div class="card">
    <div class="card-header">
        <h6 class="card-title" data-toc-text="Alert Summary">Alert Summary
        <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseAlertSummary" aria-expanded="true" aria-controls="collapseAlertSummary">(hide/show)</a></h6>
    </div>
    <div class="card-body collapse show" id="collapseAlertSummary">
        <div class="card-text collapse show">
            <div class="row mb-2">
                <div class="col-md-12">
                    <button type="button" id="btn-remove-alerts" class="btn btn-outline-dark btn-sm"><span class="bi bi-x"></span> Remove Alert(s)</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include "events/event_alerts.html" %}
                </div>
            </div>
        </div>
    </div>
</div>