<div class="card">
    <div class="card-header">
        <h6 class="card-title" data-toc-text="Detection Summary">Detection Summary <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseDetectionSummary" aria-expanded="true" aria-controls="collapseDetectionSummary">(hide/show)</a></h6>
    </div>

    {# Count number of  occurrences of each unique detection #}
    {% set unique_detections = {} %}
    {% for alert in alerts %}
        {% if alert.all_detection_points %}
            {% for detection in alert.root_analysis.all_detection_points %}
                {{ increment(unique_detections, detection.description) }}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="card-body collapse show" id="collapseDetectionSummary">
        <div class="card-text">
            {% if unique_detections | length %}
                <table class="table table-bordered table-condensed">

                    {% for detection in unique_detections %}
                        <tr>
                            <td class="col-md-10">{{ detection }} ({{ unique_detections[detection] }})</td>
                        </tr>
                    {% endfor %}

                </table>
            {% else %}
                No detections found.
            {% endif %}
        </div>
    </div>
</div>