<div class="card">
    <div class="card-header">
        <h6 class="card-title" data-toc-text="Event Summary">Summary <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseEventSummary" aria-expanded="true" aria-controls="collapseEventSummary">(hide/show)</a></h6>
    </div>
    <div class="card-body" id="collapseEventSummary">
        <div class="card-text collapse show">
            <p>
                <strong>Description: </strong>{{ event.comment }}
            </p>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Event Time</th>
                    <th>Alert Time</th>
                    <th>Ownership Time</th>
                    <th>Disposition Time</th>
                    <th>Contain Time</th>
                    <th>Remediation Time</th>
                </tr>
                <tr>
                    <td>{{ event.event_time }}</td>
                    <td>{{ event.alert_time }}</td>
                    <td>{{ event.ownership_time }}</td>
                    <td>{{ event.disposition_time }}</td>
                    <td>{{ event.contain_time }}</td>
                    <td>{{ event.remediation_time }}</td>
                </tr>
            </table>
        </div>

        <div class="card-text">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-nowrap">Disposition</th>
                    <th class="text-nowrap">Status</th>
                    <th class="text-nowrap">Owner</th>
                    <th class="text-nowrap">Remediation</th>
                    <th class="text-nowrap">Type</th>
                    <th class="text-nowrap">Vector</th>
                    <th class="text-nowrap">Severity</th>
                    <th class="text-nowrap">Prevention Tool</th>
                    <th class="text-nowrap">Threat Actor</th>
                    <th class="text-nowrap">Threat Types</th>
                    <th class="text-nowrap">Threat Names</th>
                </tr>
                <tr>
                    <td>{{ event.disposition }}</td>
                    <td>{{ event.status.value }}</td>
                    <td>{{ event.owner }}</td>
                    <td>{{ event.remediation.value }}</td>
                    <td>{{ event.type.value }}</td>
                    <td>{{ event.vector.value }}</td>
                    <td>{{ event.risk_level.value }}</td>
                    <td>{{ event.prevention_tool.value }}</td>
                    <td>{{ event.campaign.name }}</td>
                    <td>
                        {% for t in event.threats %}
                        <span class="badge text-bg-primary">{{t}}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for mal in event.malware %}
                        <span class="badge text-bg-danger">{{mal.name}}</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>