{% extends "base.html" %}

{% block control_panel %}

{% endblock %}

{% block page_content %}
<input type="hidden" id="event_uuid" name="event_uuid" value="{{event.uuid}}"></input>
<div class="container-fluid event-container" id="{{ event.id }}">
    <div class="row voffset10" style="margin-top:15px;">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{event.name}}</h4>
                        </div>

                        <div id="collapseone" class="collapse show">
                            <!-- main content area for the details of the event-based object -->
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <button class="btn btn-outline-dark btn-sm" type="button" onclick="close_event()" title="Close Event">
                                            <span class="bi bi-folder-check"></span> Close Event
                                        </button>
                                        <button class="btn btn-outline-dark btn-sm" type="button" onclick="edit_event('{{event.id}}')" title="Edit Event">
                                            <span class="bi bi-pencil"></span> Edit Event
                                        </button>
                                        <!--<button class="btn btn-outline-dark btn-sm" type="button" onclick="create_event_in_tip('{{ event.id }}')" id="create_event_in_tip" title="Create Empty Event in TIP">
                                            <span class="bi bi-box-arrow-right"></span> Create Empty TIP Event
                                        </button>
                                        <button class="btn btn-outline-dark btn-sm" type="button" onclick="add_indicators_to_event_in_tip('{{ event.id }}')" id="add_indicators_to_event_in_tip" title="Add Indicators to Event in TIP">
                                            <span class="bi bit-info-square"></span> Add Data to TIP Event
                                        </button>-->
                                        <button class="btn btn-outline-dark btn-sm" type="button" id="copy_link_action_{{ unique_reference }}" title="Copy Link to Clipboard">
                                            <span class="bi bi-link"></span> Copy Link to Clipboard
                                        </button>
                                        <button class="btn btn-outline-dark btn-sm" type="button" title="Send Event" data-bs-toggle="modal" data-bs-target="#send-event-to-modal">
                                            <span class="bi bi-upload"></span> Send Event
                                        </button>
                                        <!--<button type="button" id="btn-show-detect-op" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#detect_op_modal" data-page="analysis">
                                            <span class="bi bi-lightning"></span> Create Detection Op
                                        </button>-->
                                        <script type="text/javascript">
                                            $('#copy_link_action_{{unique_reference}}').on('click', function () {
                                                // see app/static/js/ace.js
                                                copy_to_clipboard(window.location);
                                                // let the user know it was copied by flashing it a bit
                                                $('#copy_action_{{unique_reference}}').effect("pulsate", {times: 3}, 500);
                                            });
                                        </script>
                                        <button type="button" id="btn-show-add-event-tags" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#event_tag_modal" data-page="analysis">
                                            <span class="bi bi-tag"></span>  Add Tag(s)
                                        </button>
                                        {% for tag in event_tags %}
                                            <span class="badge text-bg-{{tag.css_class}}">{{tag.name}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if event.alerts_still_analyzing %}
                                    {% include "events/alerts_still_analyzing.html" %}
                                {% endif %}

                                <!--
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h5 class="card-title" data-toc-text="Table of Contents">Table of Contents <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseToc" aria-expanded="true" aria-controls="collapseToc">(hide/show)</a></h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text collapse show" id="collapseToc">
                                            <nav id="toc" data-bs-toggle="toc"></nav>
                                        </div>
                                    </div>
                                </div>
                                -->

                                <!--
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h3 class="card-title" data-toc-text="Detect Op Summary">Detect Op Summary <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseDetectOpSummary" aria-expanded="true" aria-controls="collapseDetectOpSummary">(hide/show)</a></h3>
                                    </div>
                                    <div class="card-body collapse show" id="collapseDetectOpSummary">
                                        <div class="card-body">
                                            {% if detect_ops_error %}Unable to load detect ops: {{ detect_ops_error }} {% endif %}
                                            {% if detect_ops %}
                                            <table class="table">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Priority</th>
                                                    <th>Status</th>
                                                </tr>
                                                {% for detect_op in detect_ops %}
                                                <tr>
                                                    <td><a target="_blank" href="{{ detect_ops_base_gui_uri }}/detection_opportunity/{{ detect_op['uuid'] }}">{{ detect_op['opportunity_name'] }}</a></td>
                                                    <td>{{ detect_op['priority'] }}</td>
                                                    <td>{{ detect_op['status'] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                -->

                                <div class="card mb-3">
                                    {% include "events/event_summary.html" %}
                                </div>

                                <div class="card mb-3">
                                    {% include "events/alert_summary.html" %}
                                </div>

                                <div class="card mb-3">
                                    {% include "events/detection_summary.html" %}
                                </div>

                                {#

                                {% if emails %}
                                    <div class="card">
                                        {% include "events/phish_email_information.html" %}
                                    </div>

                                    <div class="card">
                                        {% include "events/phish_headers.html" %}
                                    </div>

                                    <div class="card">
                                        {% include "events/phish_body.html" %}
                                    </div>
                                {% endif %}

                                {% if screenshots %}
                                    <div class="card">
                                        {% include "events/screenshots.html" %}
                                    </div>
                                {% endif %}

                                {% if user_analysis %}
                                    <div class="card">
                                        {% include "events/user_analysis.html" %}
                                    </div>
                                {% endif %}

                                {% if sandbox_reports %}
                                    <div class="card">
                                        {% include "events/sandbox_analysis.html" %}
                                    </div>
                                {% endif %}

                                {% if url_histogram %}
                                    <div class="card">
                                        {% include "events/url_domain_summary.html" %}
                                    </div>
                                {% endif %}

                                {% if urls %}
                                    <div class="card">
                                        {% include "events/url_summary.html" %}
                                    </div>
                                {% endif %}

                                {% if observables %}
                                    <div class="card">
                                        {% include "events/observable_summary.html" %}
                                    </div>
                                {% endif %}
                                #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // set the title of the window
    document.title = atob("{{ event.name | s64encode }}");
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/events.js') }}?version={{ ACE_VERSION }}"></script>
{% endblock %}
