<div class="card-header">
    <h3 class="card-title" data-toc-text="TIP Existing Indicator Summary">TIP Existing Indicator Summary <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseTIPIndicatorSummary" aria-expanded="true" aria-controls="collapseTIPIndicatorSummary">(hide/show)</a></h3>
</div>
<div class="card-body collapse show" id="collapseTIPIndicatorSummary" style="overflow: scroll;">
    <table class="table table-bordered table-sm">
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Indicator Tags</th>
            <th>Event Tags</th>
            <th>TIP Events</th>
        </tr>
        {% for summary in tip_indicator_summaries %}
        <tr>
            <td>{{ summary['type'] }}</td>
            <td><pre style="all: unset; font-family: monospace">{{ summary['value'] }}</pre></td>
            <td>{{ ', '.join(summary['indicator_tags']) }}</td>
            <td>{{ ', '.join(summary['event_tags']) }}</td>
            <td>
                {% for tip_event_url in summary['tip_event_urls'] %}
                    <a href="{{ tip_event_url }}" target="_blank">{{ tip.name }}</a>&nbsp;
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>