<div class="card-header">
    <h3 class="card-title" data-toc-text="Observable Summary">
        Observable Summary
        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="set_observable_detection_status()" id="set_observable_for_detection" title="Save observable detection status">
            <span class="bi bi-save"></span> Save Detection Status
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="toggle_all_low_faqueue_hit_observables({{ faqueue_low_hits|tojson }})" id="toggle_all_low_faqueue_hit_observables" title="Toggle low FA Queue hit observables">
            <span class="bi bi-eye"></span> Toggle Low Hits
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="toggle_max_hit_observables_visible({{ faqueue_medium_hits|tojson }})" id="toggle_max_hit_observables_visible" title="Toggle max FA Queue hit observables visible">
            <span class="bi bi-eye"></span> Toggle Max Hits
        </button>
        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="add_indicators_to_event_in_tip({{ event.id|tojson }})" id="add_indicators_to_event_in_tip" title="Add to Event in TIP">
            <span class="bi bi-box-arrow-right"></span> Add to TIP
        </button>
        <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseObservableSummary" aria-expanded="true" aria-controls="collapseObservableSummary">(hide/show)</a>
    </h3>
</div>
<div class="card-body collapse show" id="collapseObservableSummary" style="overflow: scroll;">
    <table class="table table-bordered table-sm">
        <tr>
            <th>For Detection</th>
            <th>FA Queue Hits</th>
            <th>Type</th>
            <th>Value</th>
            <th>Related</th>
            <th>Tags</th>
        </tr>
        {% for observable in observables %}
        {#{% if observable.for_detection or (observable.faqueue_hits is defined and observable.faqueue_hits != None) %}#}
            {% if true %}
                {% if observable.faqueue_hits is defined and observable.faqueue_hits != None %}
                    {% if observable.faqueue_hits <= faqueue_low_hits %}
                        <tr class="table-success">
                    {% elif observable.faqueue_hits <= faqueue_medium_hits %}
                        <tr class="table-warning">
                    {% else %}
                        <tr class="table-danger max-hit-observable">
                    {% endif %}
                {% else %}
                    <tr>
                {% endif %}
                        <td>
                            {% if observable.related_file is defined and observable.related_file != None %}
                                <input type="checkbox" id="observable_{{ observable.db.id }}" class="related-observable" name="observable_{{ observable.db.id }}" data-related-id="{{ observable.related_file.id }}"
                                   {% if observable.for_detection %}
                                       checked
                                   {% endif %}
                                >
                            {% else %}
                                <input type="checkbox" id="observable_{{ observable.db.id }}" name="observable_{{ observable.db.id }}"
                                   {% if observable.for_detection %}
                                       checked
                                   {% endif %}
                                >
                            {% endif %}
                            <label for="observable_{{ observable.db.id }}"></label>
                        </td>
                        <td id="faqueue_hits_{{ observable.db.id }}">
                            {% if observable.faqueue_hits is defined and observable.faqueue_hits != None %}
                                {% if observable.faqueue_search_url is defined and observable.faqueue_search_url != None %}
                                    <a href="{{ observable.faqueue_search_url }}" target="_blank">{{ observable.faqueue_hits }}</a>
                                {% else %}
                                    {{ observable.faqueue_hits }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ observable.type }}</td>
                        <td>{{ observable.display_value }}</td>
                        <td style="white-space: nowrap;">
                            {% if observable.related_file is defined and observable.related_file != None %}
                                {{ observable.related_file.value | basename }}
                            {% endif %}
                        </td>
                        <td style="width: 100%;">{{ observable.tags|join(', ') }}</td>
                    </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>