<div class="card-header">
    <h3 class="card-title" data-toc-text="User Analysis">User Analysis <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseUserAnalysis" aria-expanded="true" aria-controls="collapseUserAnalysis">(hide/show)</a></h3>
</div>
<div class="card-body collapse show" id="collapseUserAnalysis" style="overflow: scroll;">
    <table class="table table-bordered table-sm">
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Company</th>
            <th>Division</th>
            <th>Department</th>
            <th>Title</th>
            <th>Manager Email</th>
        </tr>
        {% for user in user_analysis %}
            {% if user.jinja_details and 'ldap' in user.jinja_details and user.jinja_details['ldap'] %}
                <tr>
                    <td>
                        {% if 'cn' in user.jinja_details['ldap'] %}
                            {{ user.jinja_details['ldap']['cn'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if 'mail' in user.jinja_details['ldap'] %}
                            <a href="mailto:{{user.jinja_details['ldap']['mail']}}">{{user.jinja_details['ldap']['mail']}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if 'company' in user.jinja_details['ldap'] %}
                            {{ user.jinja_details['ldap']['company'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if 'division' in user.jinja_details['ldap'] %}
                            {{ user.jinja_details['ldap']['division'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if 'department' in user.jinja_details['ldap'] %}
                            {{ user.jinja_details['ldap']['department'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if 'title' in user.jinja_details['ldap'] %}
                            {{ user.jinja_details['ldap']['title'] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if 'manager_ldap' in user.jinja_details %}
                            {% if 'mail' in user.jinja_details['manager_ldap'] %}
                                <a href="mailto:{{user.jinja_details['manager_ldap']['mail']}}">{{user.jinja_details['manager_ldap']['mail']}}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
